section, .results {
	width:925px;
	margin:auto;
	display:block;
	min-width:925px;
	max-width:925px;
}

section {margin:100px auto;}

header .header-underline {
	position:relative;
	top:-1px;
}

/* Pretpakketten images */

figure.pretpakket_home, figure.pretpakket_home img, .package-grid figure, .package-grid figure img, figure.large-image, figure.large-image img {width:100%;}
figure.pretpakket_home:before {
	background-position:-690px -290px;
	height:81px;
}

figure.id-1:before {
	background-position:2px -16px;
	height:35px;
	bottom:75px;
}

figure.id-1:after {
	background-position:0 -175px;
	width:200px;
	height:200px;
	bottom:-180px;
}

figure.id-2:before {height:180px;}
figure.id-5:before, figure.id-5:after {
	background-position:-265px 0px;
	width:315px;
	height:230px;
	left:80px;
}
figure.id-5:after {
	left:auto;
	right:-210px;
}

/* background images */
.register-sect:before, .myprofile.sect-2:after {
	background-position:-655px -275px;
	width:140px;
	height:95px;
}
.register-sect:after, .myprofile.sect-3:before  {
	background-position:10px 115px;
	width:1100px;
	height:400px;
}
.sect-1.myprofile:after {
	width:380px;
	right:-200px;
}
.sect-2.myprofile:before {
	width:230px;
	height:195px;
	bottom:-100px;
	background-position:-795px -292px;
}